.all-foods img{
   height:300px;
   width: 30%;
   margin-left: 30px;
   margin-bottom: 20px;
   margin-top: 20px;
   border-radius: 20px;
   border: 2px solid crimson;
   box-shadow: #fa042db4 0px 1px 2px 0px;
   float: left;
   display: block; 
   /* width: 100%; */
   /* height: auto; */
      /* background-color: crimson; */
   
}
.na-link{
  font-size: 30px;
  font-weight: 1000;
  /* overflow: hidden; */
  background-color: crimson;
  /* float: right; */
  margin-left: 1240px;
  margin-top: 5px;
  /* padding-bottom: 20px; */
  color: white;
  text-align: center;
  padding: 14px ; 
  text-decoration: none;
  box-shadow: #f2f2f2 50px;
  font-size: 17px; 
  border-radius: 10px; 
}


.overlay {
    position: absolute;
    bottom: 0;
    /* background: rgb(0, 0, 0); */
    background: crimson; /* Black see-through */
    /* color: #f1f1f1; */
    width: 100%;
    transition: .2s ease;
    opacity:0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: monospace;
    padding: 20px;
    text-align: center;
  }

  /* marquee{
    /* background-color: black; */
    /* width: 100%;
    font-size: 40px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px; */
    /* margin-top: 10px; */
    /* height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 5px 5px;
    font-family: monospace; */
 

  .image-palour{
    position: relative;
  }
  .one_food:hover .overlay {
    opacity: 1;
  }
  