/* body{
    background-image: url("https://www.shutterstock.com/image-photo/plate-isolated-on-white-background-600w-765136063.jpg");
    background-size: 250px;
} */
.navbar{
    max-width: 3000px;
    height: 100%;
    /* padding: 0 90rem; */
    /* margin: auto; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 18px;
    border-radius:  10px;

    
    /* background-color: crimson; */
}
.nav-link{
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    background-color: crimson;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;

}
marquee{
    background-color: black;
    width: 100%;
    font-size: 40px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 10px; */
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 5px 5px;
    font-family: monospace;
 }

.landing-page h2{
    font-size: 70px;
    font-weight: 800;
    /* background-image: url("https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHB1cnBsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60/rockets.png");
    background-size: 250px; */
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.container{
    height: 795px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/2220618/pexels-photo-2220618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 250px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
}
/* .navlink Link{
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}  */
.nav{
    font-size: 20px;
    font-weight: 800;
    overflow: hidden;
    background-color: crimson;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    border-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
}